<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Athena-研发协同平台">
    <meta name="author" content="metaboy">

    <title>Athena-研发协同平台</title>
</head>

<body>
<p>It's a good job!</p>

<!-- jQuery -->

</body>

</html>
